* {
  border-radius: 0 !important;
}
code {
  background: #fafafa;
  border: 1px dotted #bdbdbd;
  color: #455A64;
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
}
blockquote {
  font-size: 16px;
}
blockquote small {
  font-size: 14px;
}
.selector {
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
}
.selector.type,
.selector.universal {
  color: #303F9F;
}
.selector.id {
  color: #C2185B;
}
.selector.class {
  color: #388E3C;
}
.selector.attribute {
  color: #F57C00;
}
.selector.pseudo-class {
  color: #7B1FA2;
}
.selector.pseudo-element {
  color: #795548;
}
.selector.negation {
  color: #D32F2F;
}
.selector.combinator {
  color: #1976D2;
  min-width: 16px;
  text-align: center;
}
.selector.combinator.space {
  font-size: 0;
}
.selector.combinator.space::before {
  color: #B0BEC5;
  content: '\2420';
  font-size: 16px;
}
#logo {
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 10px;
}
#logo a {
  background: #fafafa;
  color: inherit;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  transition: background 0.2s;
}
#logo a:hover,
#logo a:focus {
  background: #eee;
}
#logo a img {
  margin-right: 10px;
  vertical-align: top;
}
#logo a h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 32px;
  line-height: 30px;
  margin: 0;
  padding-top: 8px;
}
#logo a p {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 8px;
}
#splash #welcome,
#splash #start-here {
  font-size: 17px;
}
#splash h2 {
  margin-top: 0;
}
#splash h4 {
  margin: 20px 0 0;
}
#splash p.lead {
  font-size: 17px;
}
#splash p.arrows {
  margin-bottom: 0;
}
#splash blockquote a.selector {
  cursor: pointer;
}
#selector-input {
  margin-bottom: 20px;
  position: relative;
}
#selector-input textarea {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  min-height: 72px;
  resize: vertical;
}
#selector-input .btn[disabled] {
  opacity: 0.4;
}
#selector-input .btn-danger[disabled] {
  background: #d9534f;
}
#selector-input .btn-primary {
  margin-top: 4px;
}
#selector-input .btn-primary[disabled] {
  background: #337ab7;
}
#selector-input span.cooldown {
  bottom: -20px;
  color: #90A4AE;
  font-size: 14px;
  line-height: 20px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 15px;
  text-align: right;
  transition: opacity 0.1s;
}
#selector-input span.cooldown.active {
  opacity: 1;
}
#sequence-list {
  padding: 10px 0;
}
#sequence-list dl {
  margin: 0 0 10px;
}
#sequence-list dl dd {
  line-height: 16px;
}
#sequence-list ul {
  counter-reset: sequence;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
#sequence-list ul li {
  cursor: pointer;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  margin: 5px 0;
  padding: 4px 6px;
  position: relative;
  transition: background 0.1s;
}
#sequence-list ul li:hover {
  background: #eee;
}
#sequence-list ul li::before {
  counter-increment: sequence;
  content: counter(sequence);
  height: 100%;
  left: -31px;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 32px;
}
#sequence-list ul li.active {
  background: #fafafa;
  border: 1px solid #bdbdbd;
  color: #000;
  cursor: default;
  padding: 4px 6px;
}
#sequence-list ul li.active::before {
  color: #607D8B;
  left: -32px;
  text-decoration: underline;
  padding-top: 4px;
}
@media (max-width: 991px) {
  #logo a img {
    height: 40px;
    width: 40px;
  }
  #logo a h1 {
    font-size: 26px;
    line-height: 40px;
    padding: 0;
  }
  #logo a p {
    display: none;
  }
  #sequence-list ul li {
    margin-left: 32px;
  }
}
@media (min-width: 992px) {
  #sequence-list {
    border-right: 1px solid #bdbdbd;
    margin-left: 32px;
    margin-right: -15px;
  }
  #sequence-list ul li {
    border-right: 1px solid #bdbdbd;
    margin: 5px -1px 5px 0;
    padding: 5px 6px 5px 7px;
  }
  #sequence-list ul li.active {
    border-right: 1px dotted #bdbdbd;
    color: #000;
    cursor: default;
    padding: 4px 6px;
  }
}
#deconstructed-area #formatted-selector-area .invalid-selector-part {
  color: #F44336;
  position: relative;
  text-decoration: underline;
}
#deconstructed-area #formatted-selector-area pre {
  counter-reset: formatted;
  font-size: 16px;
}
#deconstructed-area #formatted-selector-area pre .formatted-element {
  counter-increment: formatted;
}
#deconstructed-area #formatted-selector-area pre .formatted-element::before {
  color: #90A4AE;
  content: 'Element ' counter(formatted);
  font-size: 12px;
  margin-right: 6px;
}
#deconstructed-area #formatted-selector-area pre .formatted-element .selector.combinator {
  margin-right: 2px;
  min-width: 24px;
}
#deconstructed-area #formatted-selector-area .alert {
  margin-bottom: 10px;
}
#deconstructed-area #formatted-selector-area .alert .alert-count {
  display: inline-block;
}
#deconstructed-area #formatted-selector-area .alert .alert {
  margin: 10px 0 0;
}
#deconstructed-area #formatted-selector-area .alert .alert ol {
  margin-bottom: 0;
}
#deconstructed-area #formatted-selector-area .alert .alert ol li {
  margin-bottom: 10px;
}
#deconstructed-area #formatted-selector-area .alert .alert ol li:last-child {
  margin-bottom: 0;
}
#deconstructed-area #formatted-selector-area .alert.alert-warning .alert {
  margin-top: 0;
}
#foot {
  border-top: 1px solid #eee;
  margin: 0 0 10px;
  padding: 10px 0;
}
